# docker-compose.yml
version: '3'
services:

  composer:
    image: composer:1.9.3
    environment:
      - COMPOSER_CACHE_DIR=/app/.cache/composer
    volumes:
      - ./app:/app

  php:
    image: php:8.0.3-cli
    volumes:
      - ./app/${NAME_PROJECT}:/app
    ports:
        - "${PHP_PORT}:9001"
    working_dir: /app
    links:
      - mysql

  phpunit:
    image: php:8.0.3-cli
    volumes:
      - ./app/${NAME_PROJECT}:/app
    working_dir: /app
    entrypoint: vendor/bin/phpunit

  fpm:
    image: php:8.0.3-fpm
    restart: always
    volumes:
      - ./app/${NAME_PROJECT}:/app

  nginx:
    image: nginx
    ports:
      - 80:80
    volumes:
      - ./app/${NAME_PROJECT}:/app
      - ./docker/nginx:/var/log/nginx
      - ./docker/nginx/conf/site.conf:/etc/nginx/conf.d/default.conf
    links:
      - php

  mysql:
    image: mysql:5.7
    ports:
      - "${MYSQL_PORT}:3306"
    environment: 
      - MYSQL_DATABASE= ${MYSQL_DATABASE}
      - MYSQL_USER= ${MYSQL_USER}
      - MYSQL_PASSWORD= ${MYSQL_PASSWORD}
      - MYSQL_ROOT_PASSWORD= ${MYSQL_PASSWORD}
    volumes:
      - ./docker/mysql/scripts/:/docker-entrypoint-initdb.d/
      - ./docker/mysql/:/var/lib/mysql