# Identidad de usuario para bind mounts y permisos en contenedor
UID=1001
GID=1001

# Caddy / PHP
SERVER_NAME=localhost
PHP_DATE_TIMEZONE=Europe/Madrid

# Puertos mapeados
HTTP_PORT=8081
HTTPS_PORT=8444
DATABASE_PORT=5432

# Postgres
POSTGRES_VERSION=16
POSTGRES_DB=app
POSTGRES_USER=app
POSTGRES_PASSWORD=!ChangeMe!

# Xdebug control
XDEBUG_MODE=develop,debug  # o "off" para desactivarlo
# XDEBUG_CONFIG=client_host=host.docker.internal client_port=9003
